# ROSBUILD dirs
lib
bin
build
msg_gen
srv_gen

# graspit specific / others
*.make
graspit_source
patched
graspit/rospack_nosubdirs
logfile
logfile-qhull
graspit_ros_planning_msgs/src/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.tmp
*.bak
*.cfgc
*.user
*~
.svn
bin
build
lib
srv_gen
msg_gen
_*.py
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*Config.h
*Config.py
docs
qtcreator-build
*.tif
*.tfw
*.bag
*.pyc
*.log
*.class
.project
.cproject
.settings
*.stlb
*.autosave
default_warehouse_mongo_db/*
